h1 {
  text-align: center;
}

#login_area {
  border        : 2px solid black;
  margin-right  : 25%;
  margin-left   : 25%;
  margin-top    : 10%;
  padding-bottom: 25px;
}

#create_area {
  border        : 2px solid black;
  margin-top    : 100px;
  margin-right  : 25%;
  margin-left   : 25%;
  padding-bottom: 25px;
}

#login {
  background-color: #4CAF50;
  border          : none;
  color           : white;
  padding         : 15px 32px;
  text-align      : center;
  text-decoration : none;
  display         : block;
  font-size       : 16px;
  margin          : 10px auto auto;
}

#create {
  background-color: #4CAF50;
  border          : none;
  color           : white;
  padding         : 15px 32px;
  text-align      : center;
  text-decoration : none;
  display         : block;
  font-size       : 16px;
  margin          : 100px auto auto;
}

#page2 > input,
#page2 > input {
  background-color: #4CAF50;
  border          : none;
  color           : white;
  padding         : 10px 32px;
  text-align      : center;
  text-decoration : none;
  display         : block;
  font-size       : 16px;
  margin-bottom   : auto;
  margin-right    : auto;
  margin-left     : auto;
}

#page2 > button,
#page2 > input {
  background-color: #4CAF50;
  border          : 2px solid black;
  color           : white;
  padding         : 5px 10px;
  text-align      : center;
  text-decoration : none;
  display         : block;
  font-size       : 16px;
  margin          : 20px auto auto;
}

#page_user input,
#upload {
  background-color: #4CAF50;
  border          : 2px solid black;
  color           : white;
  padding         : 5px 10px;
  text-align      : center;
  text-decoration : none;
  display         : block;
  font-size       : 16px;
  margin          : 20px auto auto;
}

body {
  font-family: sans-serif;
}

#page3 {}
#div3 img {
  display: none;
}

#page4{
  text-align: center;
}


#page2 > img,
#page3 > canvas,
#canvas_wrap canvas {
  display     : block;
  margin-left : auto;
  margin-right: auto;
text-align: center;
}

p {
  text-align: center;
}

canvas {
  display     : block;
  margin-left : auto;
  margin-right: auto;
  width       : 50%;
}

#page3 > button,
#page3 > input {
  background-color: #4CAF50;
  border          : 2px solid black;
  color           : white;
  padding         : 5px 10px;
  text-align      : center;
  text-decoration : none;
  display         : block;
  font-size       : 16px;
  margin          : 20px auto auto;
}

#page3 input {
  background-color: #4CAF50;
  border          : 2px solid black;
  color           : white;
  padding         : 5px 10px;
  text-align      : center;
  text-decoration : none;
  display         : block;
  font-size       : 16px;
  margin          : 20px auto auto;
}

#hidden_inputs input {
  display: none;
}

#preview_pic,
#submit_pic,
#text_submit,
#textbox,
#user,
#user_submit,
#username,
.backbutton {
  background-color: #4CAF50;
  border          : 2px solid black;
  color           : white;
  padding         : 5px 10px;
  text-align      : center;
  text-decoration : none;
  display         : block;
  font-size       : 16px;
  margin          : 20px auto auto;
}

#page {
  background-color: #4CAF50;
  border          : 2px solid black;
  color           : white;
  padding         : 5px 10px;
  text-align      : center;
  text-decoration : none;
  font-size       : 16px;
  margin          : 20px auto auto;
}

#page4 input {
  background-color: #4CAF50;
  border          : 2px solid black;
  color           : white;
  padding         : 5px 10px;
  text-align      : center;
  text-decoration : none;
  font-size       : 16px;
  margin          : 20px auto auto;
}

#circleX,
#circleY,
#radius {
  display: none;
}

.canvas_wrap {
  text-align: center;
  position: absolute;
}
